.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fffacd;
    align-items: flex-start;
    width: 100vw; /* ビューポートの幅全体 */
    height: 100vh; /* ビューポートの高さ全体 */
}

.leftPanel, .rightPanel {
    flex: 1; /* コンテナの利用可能なスペースを均等に分ける */
    height: 100vh; /* ビューポートの高さに合わせる */
    overflow-y: auto; /* 必要に応じてスクロールバーを表示 */
}

.keyword {
    margin-bottom: 20px;
}

.headlines {
    list-style: none;
    padding: 0;
}

.headlines li {
    margin-bottom: 10px;
}

.headline {
    cursor: pointer;
    user-select: none; /* テキスト選択を防止 */
}
  
.headline:hover {
    color: #007bff; /* ホバー時の色 */
}
  
.icon {
    margin-left: 8px;
}
  
.content {
    transition: all 0.3s ease; /* コンテンツの表示/非表示時のアニメーション */
}
